<div class="d-flex justify-content-center mt-4"">
  <div class="col-6">
    <div class="card_message_details coach_message">

      <h3 class="text-center mt-4">Stupid Coaching</h3>

    </div>
      <form action="answer" data-turbo="false">
        <input  id= "inpp"class="form-control shadow-none mt-5 mb-3" type="text" name="answer">
        <input class = "form-control" id="button-ans" type="submit" value="Ask!">
      </form>

  </div>
</div>
