
  <div class="d-flex justify-content-center mt-4">
    <div class="col-6" >
      <div class="card_message_details">
        <h3 class="mt-2">  <%= @answer %> </h3>
        <p class="font-italic text-right mr-4"> - from: you </p>
      </div>
      <div class="card_message_details coach_message">
        <h3 class="mt-2"> <%= @message %> </h3>
        <p class="font-italic text-right mr-4"> - from: your coach  </p>
      </div>
      <div class="form-row d-flex justify-content-around mt-5">
        <h4 class = "col-12 d-flex justify-content-center">Do you want to make a new question?</h4>
        <a id="button-ans" class = "mt-2 col-4" href="/ask"> yes </a>
        <a id="button-ans" class = "mt-2 col-4" href="#"> no </a>

      </div>

    </div>
  </div>
